<div class="container-fluid mt-4 custom-tabs">
  <button class="btn btn-success"
        (click)="openScanIn()">
      Scan IN
    </button>

    <button class="btn btn-danger"
            (click)="openScanOut()">
      Scan OUT
    </button>

  <!-- Tabs Navigation -->
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
      <a class="nav-link" [class.active]="selectedTabKey === 'inventory'" (click)="switchTab('inventory')">
        Inventory
        <!-- <small class="d-block text-muted small">Manage stock items</small> -->
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"[class.active]="selectedTabKey === 'nonInventory'"(click)="switchTab('nonInventory')">
        Non Inventory
        <!-- <small class="d-block text-muted small">No stock management</small> -->
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="selectedTabKey === 'services'" (click)="switchTab('services')">
        Service
        <!-- <small class="d-block text-muted small">Manage services</small> -->
      </a>
    </li>
  </ul>

  <!-- Tab Content -->
  <div class="tab-content">
    <div class="tab-pane fade show active">
      <!-- Loading spinner -->
      <div *ngIf="loading" class="p-3 text-center">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <!-- Error message -->
      <div *ngIf="error" class="alert alert-danger m-3">
        {{ error }}
      </div>

      <!-- Curd modal -->
      <ng-container *ngIf="curdConfig && !loading && !error">
        <ta-curd-modal [options]="curdConfig" class="custom-list"></ta-curd-modal>
      </ng-container>
    </div>
  </div>
</div>


