<div class="container-fluid p-3">
  <div class="material-issue-banner page-component-header">
    <div class="col-12 px-0" style="display: flex; justify-content: space-between; align-items: center;flex-wrap: wrap;">
      <button type="button" class="btn pl-0">
  <span *ngIf="MaterialIssueEditID" class="custom-heading">Update Material Issue</span>
  <span *ngIf="!MaterialIssueEditID" class="custom-heading">Create Material Issue</span>
</button>
      <button (click)="showMaterialIssueListFn()" type="button" class="btn btn-primary header-right-btn" data-bs-toggle="modal" data-bs-target="#materialIssueListModal">
        Material Issue List
      </button>
    </div>
  </div>
  <div class="row custom-form">
    <div class="col-12 px-1" *ngIf="issueNumber || showForm">
  <ta-form #materialIssueForm [options]="formConfig"></ta-form>
</div>

  </div>
</div>


<!-- Modal for Material Issue List -->
<div class="modal fade custom-modal" id="materialIssueListModal" tabindex="-1" aria-labelledby="materialIssueListModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="materialIssueListModalLabel">Material Issue List</h5>
        <button type="button" id="modalClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="showMaterialIssueList">
        <app-material-issue-list (edit)="editMaterialIssue($event)" class="custom-list"></app-material-issue-list>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


