/* Styling for the table */
.custom-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .custom-table th, .custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  /* Add a blue background to the header */
  .custom-table th {
    background-color: #170564;
    color: white;
    font-weight: normal;
    text-align: left;
  }

  /* Add white background to table rows (records) */
  .custom-table tr {
    background-color: white;
 }
  
  /* Add striped rows */
  .custom-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Add hover effect */
  .custom-table tr:hover {
    background-color: white;
  }
  
  /* Table header specific styles */
  .table-header th {
    color:white;
  }
  
  /* Responsive handling */
  .custom-table td {
    word-wrap: break-word;
  }
