.row-custom-form{
    background-color: rgb(249 249 249 / 60%);
    padding: 20px 10px 6px;
    border-radius: 8px;
    margin: 5px;
}
.position-relative {
    position: relative; 
  }
  
  input.form-control {
    padding-right: 2.5rem; 
    height: 40px; 
  }
  
  .eye-btn {
    position: absolute; 
    top: 70%; 
    right: 10px; 
    transform: translateY(-50%); /* Center it perfectly vertically */
    background: none; 
    border: none;
    cursor: pointer; 
    color: #6c757d; 
    padding: 0; 
    display: flex; 
    align-items: center;
    justify-content: center;
    height: auto; 
    width: 2rem; 
    z-index: 10; 
  }
  
  .eye-btn:hover {
    color: #000; 
  }
  