<!-- Begin Page Content -->
<div class="container-fluid pt-3">
    <div class="row">
        <!-- Sales Card -->
        <div class="dashboard-card px-1 h-100" (click)="openSalesModal()">
            <div class="dashboard-card-body">
                <div class="dashboard-card-head">Sales</div>
                <div class="dashboard-card-content">
                    <h5>10.5K</h5>
                    <p>5% from last week</p>
                </div>
            </div>
        </div>

        <!-- Purchase Card -->
        <div class="dashboard-card px-1 h-100" (click)="openPurchaseModal()">
            <div class="dashboard-card-body">
                <div class="dashboard-card-head">Purchase</div>
                <div class="dashboard-card-content">
                    <h5>10.5K</h5>
                    <p>5% from last week</p>
                </div>
            </div>
        </div>

        <!-- Receivables Card -->
        <div class="dashboard-card px-1 h-100" (click)="openReceivablesModal()">
            <div class="dashboard-card-body">
                <div class="dashboard-card-head">Receivables</div>
                <div class="dashboard-card-content">
                    <h5>10.5K</h5>
                    <p>5% from last week</p>
                </div>
            </div>
        </div>

        <!-- Payables Card -->
        <div class="dashboard-card px-1 h-100" (click)="openPayablesModal()">
            <div class="dashboard-card-body">
                <div class="dashboard-card-head">Payables</div>
                <div class="dashboard-card-content">
                    <h5>10.5K</h5>
                    <p>5% from last week</p>
                </div>
            </div>
        </div>

        <!-- Cash/Bank Card -->
        <div class="dashboard-card px-1 h-100" (click)="openLiquidityModal()">
            <div class="dashboard-card-body">
                <div class="dashboard-card-head">Cash/ Bank</div>
                <div class="dashboard-card-content">
                    <h5>10.5K</h5>
                    <p>5% from last week</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->

<div>
    <!-- Sales Modal -->
    <div *ngIf="isSalesModalOpen" id="salesModal" class="sales-modal">
        <div class="sales-modal-content">
            <span class="close" (click)="closeSalesModal()">&times;</span>
            <p>Sales Over the Last 6 Months</p>
            <canvas #salesChartCanvas></canvas>
        </div>
    </div>

    <!-- Purchase Modal -->
    <div *ngIf="isPurchaseModalOpen" id="purchaseModal" class="purchase-modal">
        <div class="purchase-modal-content">
            <span class="close" (click)="closePurchaseModal()">&times;</span>
            <p>Purchase Over the Last 6 Months</p>
            <canvas #purchaseChartCanvas></canvas>
        </div>
    </div>

    <!-- Receivables Modal -->
    <div *ngIf="isReceivablesModalOpen" id="receivablesModal" class="receivables-modal">
        <div class="receivables-modal-content">
            <span class="close" (click)="closeReceivablesModal()">&times;</span>
            <p>Receivables Breakdown</p>
            <canvas #receivablesChartCanvas></canvas>
        </div>
    </div>

    <!-- Payables Modal -->
    <div *ngIf="isPayablesModalOpen" id="PayablesModal" class="payables-modal">
        <div class="payables-modal-content">
            <span class="close" (click)="closePayablesModal()">&times;</span>
            <p>Payables Breakdown</p>
            <canvas #payablesChartCanvas></canvas>
        </div>
    </div>

    <!-- Liquidity Modal -->
    <div *ngIf="isLiquidityModelOpen" id="LiquidityModal" class="liquidity-modal">
        <div class="liquidity-modal-content">
            <span class="close" (click)="closeLiquidityModal()">&times;</span>
            <p>Liquidity In the Banks</p>
            <canvas #liquidityChartCanvas></canvas>
        </div>
    </div>
</div>

<!-- second-row -->
<div class="second-main-row">
    <div class="left-container">
        <div class="first-row">
            <div class="chart-container">
                <canvas #chartTop6Items></canvas>
            </div>

            <div class="chart-container">
                <canvas #chartDirectExpenses></canvas>
            </div>

            <div class="chart-container">
                <canvas #chartOperationalExpenses></canvas>
            </div>
        </div>

        <div class="second-row">
            <div class="second-chart-container">
                <canvas #chartTop6ItemsIn6MonthsCanvas></canvas>
            </div>

            <div class="second-chart-container">
                <canvas #chartTop6ProfitMakingItemsCanvas></canvas>
            </div>

            <div class="second-chart-container">
                <canvas #chartOperatiorenalExpenses></canvas>
                <p>Amazon/Flipkart/Meesho</p>
            </div>
        </div>
    </div>

    <div class="right-container">
        <!-- New Div Covering the Entire Empty Space -->
        <div class="right-side-chart">
            <canvas #chartLast6MonthsCashflowCanvas></canvas>
        </div>
    </div>
</div>

<!-- Task and Work Order tables Div -->
<div class="task-workOrder-row">
    <div class="left-task-container">
        <h4>Task</h4>
        <table class="task-table">
            <thead>
                <tr>
                    <th>Assigned To</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Priority</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of taskList">
                    <td>{{ task.name }}</td>
                    <td>{{ task.title }}</td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.priority }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="right-task-container">
        <h4>Work Orders</h4>
        <table class="task-table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Completed</th>
                    <th>Pending</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of workOrders">
                    <td>{{ order.name }}</td>
                    <td>{{ order.quantity }}</td>
                    <td>{{ order.completed_qty }}</td>
                    <td>{{ order.pending_qty }}</td>
                    <td>{{ order.status_name }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>