/* Modal Styles */
.sales-modal, .purchase-modal, .receivables-modal, .payables-modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

/* Modal Content Styles */
.sales-modal-content, .purchase-modal-content, .receivables-modal-content, .payables-modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 900px;
    height: 90%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

/* Text Style for Modal Content */
.sales-modal-content p, .purchase-modal-content p, .receivables-modal-content p, .payables-modal-content p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

/* Close Button */
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Canvas size control for all modals with canvas */
.receivables-modal-content canvas, .payables-modal-content canvas {
    max-width: 100%;
    max-height: 80%;
    width: 400px;
    height: 400px;
}
