<table class="table table-striped table-hover">
    <thead class="table-header">
      <tr>
        <th>Invoice No</th>
        <th>Customer</th>
        <th>Invoice Date</th>
        <th>Products</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!customerOrders.length">
        <td colspan="6" class="text-center" style="font-size: 1.2em;">{{ noOrdersMessage }}</td>
      </tr>    
      <tr *ngFor="let order of customerOrders">
        <td>{{ order.invoice_no ?? 'N/A' }}</td>
        <td>{{ order.customer?.name ?? 'N/A' }}</td>
        <td>{{ order.invoice_date ?? 'N/A' }}</td>
        <td>
          <ul>
            <!-- <li *ngFor="let product of order.productsList">
              {{ product.product_name ?? 'Unknown Product' }} (Qty: {{ product.quantity ?? 'N/A' }})
            </li> -->
            <li *ngFor="let product of order.productsList">
              <input type="checkbox" [(ngModel)]="product.selected" (change)="selectProduct(order, product, $event)" />
              {{ product.product_name ?? 'Unknown Product' }} (Qty: {{ product.quantity ?? 'N/A' }})
            </li>
          </ul>
        </td>
        <td>
          <button class="btn btn-primary btn-sm" (click)="selectInvoiceOrder(order)">Select</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="modal-footer">
    <button class="btn btn-success btn-sm" (click)="pullSelectedProducts()">Pull Products </button> 
    <button type="button" class="btn btn-danger" (click)="hideModal()">Close</button>
  </div>
  