<div class="container-fluid pt-3">
    <div class="company-banner">
        <div class="col-12 px-0" style="display: flex; justify-content: space-between;align-items: center;">
            <button  type="button" class="btn pl-0" style="color: black;">
                <span  class="custom-heading">Company</span>
              </button>        
        </div>
    </div>
    <div class="row custom-form">
        <div>
            <ta-form [options]="formConfig"></ta-form>
        </div>
    </div>
</div>