/*  .sales-banner {
    width: 100%;
    // height: 30px;
    // background-color:#142768;
}
commented this code to ensure that sales module modal boxes appears correctly
*/

// .button {
//     background-color: #142768;
//     color: white
// }

/*
.button-spacing {
    margin-left: 10px;
  }

  commented this code to ensure that sales module modal boxes appears correctly
*/

// /* Custom modal size */
// .custom-size {
//     max-width: 50%; /* Increase the width to 85% of the viewport */
//     max-height: 85vh; 
// }

// .modal-body {
//     max-height: 75vh; /* Set the modal's body height to 75% of the viewport height */
//     overflow-y: auto; /* Add scrolling if content exceeds the height */
// }


/*

// Custom modal size 
.custom-size {
    max-width: 65%; //Increase the width to 85% of the viewport 
    max-height: 90vh; //Increase the height to 85% of the viewport height 
}

// Ensure modal content takes the full height available 
.modal-content {
    height: auto;
    max-height: 90vh;
}

commented .custom-size code and .modal-content to ensure that sales module modal boxes appears correctly

*/

 //Adjust the modal body to accommodate the extra height 
// .modal-body {
//     height: calc(100% - 120px); //Adjust the body height to fill modal minus header and footer 
//     overflow-y: auto; //Scroll if the content overflows 
// }


//added .modal-backdrop because of this code only we can abble to see past orders modalbox function correctly 
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); // Adjust opacity as needed 
  z-index: 999; //Ensure it's below the modal but above other content 
}
