<div class="container-fluid pt-3">
    <div class="sales-banner">
        <div class="col-12 px-0" style="display: flex; justify-content: space-between; align-items: center;">
            <button type="button" class="btn pl-0">
        <span *ngIf="SaleOrderEditID" class="custom-heading">Update Sales Order</span>
        <span *ngIf="!SaleOrderEditID" class="custom-heading">Create Sales Order</span>
      </button>
            <div style="display: flex; gap: 10px;">
                <!-- New Copy Button -->
                <button (click)="openCopyModal()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#copyModal">
                Copy
            </button>
                <button (click)="showOrdersList()" type="button" class="btn btn-primary">
          Past orders</button>
                <button *checkAction="{ moduleName: 'Sales', sectionName: 'Customers', actionName: 'Update' }" (click)="showSaleOrderListFn()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#saleOrderListModal">
          Sales Order List
        </button>
                <!-- Invoice Creation Button (Only for Edit and if flow status is "Ready for Invoice") -->
                <button *ngIf="SaleOrderEditID && formConfig.model.sale_order.flow_status.flow_status_name === 'Ready for Invoice'" (click)="openSaleInvoiceModal()" type="button" class="btn btn-primary">
            Create Invoice
        </button>

                <!-- Create Work Order Button (Only for Edit) -->
                <button *ngIf="SaleOrderEditID" (click)="createWorkOrder()" type="button" class="btn btn-primary">
            Create Work Order
        </button>

            </div>
        </div>
    </div>

    <div class="row custom-form" *checkAction="{ moduleName: 'Sales', sectionName: 'Sale Order', actionName: 'Create' }">
        <div class="col-12 px-1" *ngIf="orderNumber || showForm">
            <ta-form #salesForm [options]="formConfig"></ta-form>
        </div>
    </div>
</div>

<!-- Sales List Modal -->
<div class="modal fade custom-modal" id="saleOrderListModal" tabindex="-1" aria-labelledby="saleOrderListModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="saleOrderListModalLabel">Sales Order List</h5>
                <button type="button" id="modalClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" *ngIf="showSaleOrderList">
                <app-sales-list (edit)="editSaleOrder($event)" class="custom-list"></app-sales-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Past Orders List Modal -->
<div #ordersModal class="modal fade custom-modal" id="ordersListModal" tabindex="-1" aria-labelledby="ordersListModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ordersListModalLabel">Past Orders List</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="hideModal()"></button>
            </div>
            <div class="modal-body">
                <app-orderslist [customerOrders]="customerOrders" (orderSelected)="handleOrderSelected($event)" [noOrdersMessage]="noOrdersMessage" (productsPulled)="handleProductPull($event)" (modalClosed)="closeModal()">
                </app-orderslist>
            </div>
        </div>
    </div>
</div>

<!-- Copy Modal -->
<div class="modal fade custom-modal" id="copyModal" tabindex="-1" aria-labelledby="copyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg custom-size">
        <!-- Add custom-size class here -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="copyModalLabel">Copy to Another Table</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Modal Form to Select Table -->
                <form>
                    <div class="form-group">
                        <label for="tableSelect">Select Table</label>
                        <select id="tableSelect" class="form-control" [(ngModel)]="selectedTable" name="selectedTable">
                            <option *ngFor="let table of availableTables" [value]="table">{{table}}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" (click)="copyToTable()">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Confirmation Modal -->
<div id="customDialog" class="custom-dialog-overlay" *ngIf="isConfirmationInvoiceOpen">
    <div class="custom-dialog-box">
        <p>Are you sure you want to create the sale invoice?</p>
        <button (click)="confirmInvoiceCreation()">OK</button>
        <button (click)="cancelInvoiceCreation()">Cancel</button>
    </div>
</div>

<!-- Success Message at the Top Right -->
<div *ngIf="isInvoiceCreated" class="toast-message">
    <div class="tick-circle">
        <span class="tick-mark">✔</span>
    </div>
    <span class="message-text">Invoice Created Successfully!</span>
</div>

<!-- Confirmation Modal -->
<div id="customDialog" class="custom-dialog-overlay" *ngIf="isConfirmationModalOpen">
    <div class="custom-dialog-box">
        <div class="form-group">
            <label for="typeSelect"><strong>Select Type:</strong></label>
            <select id="typeSelect" class="form-control custom-select" [(ngModel)]="selectedOption" name="typeSelect">
                <option value="sale_order" selected >Sale Order</option>
                <option value="sale_estimate">Sale Estimate</option>
            </select>
        </div>
        <br />
        <button (click)="confirmSelection()">OK</button>
    </div>
</div>

<div id="customToast" class="toast-message" *ngIf="showSuccessToast">
    <div class="tick-circle">
        <span class="tick-mark">✔</span>
    </div>
    <span class="toast-message-text">{{ toastMessage }}</span>
    <button class="close-button" (click)="closeToast()">x</button>
</div>

<div class="modal-backdrop" *ngIf="isModalOpen"></div>
<!-- Added line to fix past orders modal box correctly -->