<!-- OrderslistComponent HTML Template -->
<div class="orders-list-container">
  <div *ngIf="customerOrders.length === 0" class="no-orders-message">
    {{ noOrdersMessage }}
  </div>

  <ta-table *ngIf="customerOrders.length > 0"
            [options]="tableConfig"
            (selectedProductsChange)="handleSelectedProductsChange($event)">
  </ta-table>
  
  <div class="modal-footer">
    <button (click)="pullSelectedOrders()" class="btn btn-primary">
      Pull Selected Orders
    </button>
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
</div>
</div>