<div class="login-page">
    <div class="container">
        <!-- Outer Row -->
        <div class="row login-block justify-content-center">
            <div class="col-md-7 p-0 login-left-block">
                <div class="p-5">
                    <div class="text-center mb-4">
                        <img style="width: 7rem;" src="assets/img/logo.png" />
                    </div>
                    <img src="assets/img/login-logo.png" />
                </div>
            </div>
            <div class="col-md-5 pr-0 login-right-block">
                <div class="row">
                    <!-- <div class="col-lg-6 d-none d-lg-block bg-login-image"></div> -->
                    <div class="col-lg-12">
                        <div class="p-5 login-form">
                            <h1 class="mb-5">Forgot Password</h1>
                            <ta-form [options]="options"></ta-form>
                            <div class="text-center">
                                <a class="signup-link" [routerLink]="['/']">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>