<div class="container-fluid pt-3">
    <div class="purchase-invoice-banner">
        <div class="col-12 px-0" style="display: flex; justify-content: space-between;align-items: center;">
            <button type="button" class="btn pl-0" >
                <span *ngIf="PurchaseInvoiceEditID" class="custom-heading">Update Purchase Invoice</span>
                <span *ngIf="!PurchaseInvoiceEditID" class="custom-heading">Create Purchase Invoice</span>
            </button>
                <div style="display: flex; gap: 10px;">
                <!-- New Copy Button -->
                <button (click)="openCopyModal()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#copyModal">
                    Copy
                </button>
            <button (click)="showPurchaseInvoiceListFn()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Purchase Invoice List
            </button>
            </div>
        </div>
    </div>

    <div class="row custom-form">
        <div class="col-12 px-1" *ngIf="invoiceNumber">
            <ta-form #purchaseinvoiceForm [options]="formConfig"></ta-form>
        </div>
    </div>
</div>


<div class="modal fade custom-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Purchase InvoiceList</h5>
                <button type="button" id="modalClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" *ngIf="showPurchaseInvoiceList">
                <app-purchase-invoice-list (edit)="editPurchaseInvoice($event)" class="custom-list" ></app-purchase-invoice-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>


<!-- Copy Modal -->
<div class="modal fade custom-modal" id="copyModal" tabindex="-1" aria-labelledby="copyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg custom-size"> <!-- Add custom-size class here -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="copyModalLabel">Copy to Another Table</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Modal Form to Select Table -->
                <form>
                    <div class="form-group">
                        <label for="tableSelect">Select Table</label>
                        <select id="tableSelect" class="form-control" [(ngModel)]="selectedTable" name="selectedTable">
                            <option *ngFor="let table of availableTables" [value]="table">{{table}}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" (click)="copyToTable()">OK</button>
            </div>
        </div>
    </div>
</div>
