<div class="container-fluid p-3">
    <div class="sales-banner page-component-header">
        <div class="col-12 px-0"
            style="display: flex; justify-content: space-between; align-items: center;flex-wrap: wrap;">
            <button type="button" class="btn pl-0">
                <span *ngIf="SaleOrderEditID" class="custom-heading">Update Payment Receipt</span>
                <span *ngIf="!SaleOrderEditID" class="custom-heading">Create Payment Receipt</span>
            </button>
            <div class="row custom-form">
                <div class="col-12 px-1">
                    <ta-form #paymentreceiptForm [options]="formConfig"></ta-form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 px-2 py-1 custom-list" >
                <ta-table [options]="curdConfig.tableConfig"></ta-table>
            </div>
        </div>
    </div>
</div>

<!-- Success Toast Message -->
<div id="customToast" class="toast-message" *ngIf="showSuccessToast">
    <div class="tick-circle">
        <span class="tick-mark">✓</span>
    </div>
    <span class="toast-message-text">{{ toastMessage }}</span>
    <span class="toast-close" (click)="showSuccessToast = false">x</span>
</div>

<!-- Error Toast Message -->
<div id="errorToast" class="toast-message error-toast" *ngIf="showErrorToast">
    <div class="error-circle">
        <span class="error-mark">!</span>
    </div>
    <span class="toast-message-text">{{ errorMessage }}</span>
    <span class="toast-close" (click)="showErrorToast = false">x</span>
</div>


