<div class="container-fluid p-3">
    <div class="sales-banner page-component-header">
        <div class="col-12 px-0"
            style="display: flex; justify-content: space-between; align-items: center;flex-wrap: wrap;">
            <button type="button" class="btn pl-0">
                <span *ngIf="SaleOrderEditID" class="custom-heading">Update Payment Receipt</span>
                <span *ngIf="!SaleOrderEditID" class="custom-heading">Create Payment Receipt</span>
            </button>
            <div class="row custom-form">
                <div class="col-12 px-1">
                    <ta-form [options]="formConfig"></ta-form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 px-2 py-1" >
                <ta-curd-modal [options]="curdConfig" class="custom-list"></ta-curd-modal>
            </div>
        </div>
    </div>
</div>


