<div class="container-fluid p-3">
    <div class="reminders-banner">
        <div class="col-12 px-0" style="display: flex; justify-content: space-between; align-items: center;flex-wrap: wrap;">
            <button (click)="RemindersEditID = null" type="button" class="btn pl-0" style="color: black;">
            <span *ngIf="RemindersEditID" class="custom-heading">Update Reminders</span>
            <span *ngIf="!RemindersEditID" class="custom-heading">Create Reminders</span>
            </button>
            <button (click)="showRemindersListFn()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Reminders List
            </button>
        </div>
    </div>
    <div class="row  custom-form">
        <div class="col-12 px-1" *ngIf="showForm">
            <ta-form [options]="formConfig"></ta-form>
        </div>
    </div>
 </div>
 
 <div class="modal fade custom-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-xl ">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Reminders List</h5>
            <button type="button" id="modalClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body" *ngIf="showRemindersList">
            <app-reminders-list (edit)="editReminders($event)" class="custom-list"></app-reminders-list>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
 </div>