<ta-table [options]="tableConfig"> 
    <div class="bottom-left" bottom-left>
        <div class="d-flex align-items-center">
            <select class="form-select me-2">
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
            </select>
            <select class="form-select me-2">
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
            </select>
            <button  class="btn btn-primary text-nowrap">reload</button>
        </div>
    </div>
</ta-table>

