<ta-table [options]="tableConfig"> 
    <div class="bottom-left" bottom-left>
        <div class="d-flex align-items-center">
            <select class="form-select me-2">
                <option value="option1">Mail</option>
                <option value="option2">Mail link</option>
                <option value="option3">Option 3</option>
            </select>
            <select class="form-select me-2">
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
            </select>

        </div>
    </div>
</ta-table>

 <!-- <ta-table [options]="tableConfig">
    <div class="bottom-left" bottom-left>
      <div class="d-flex align-items-center">
      </div>
    </div>
  </ta-table>
  
  <div class="mail-dropdown-container">
    <div class="mail-dropdown">
      <span class="mail-text">Mail</span>
      <button class="dropdown-button">
        <span class="dropdown-symbol">▼</span>
      </button>
      <div class="dropdown-content">
        <button class="dropdown-item mail-link-button" (click)="onMailLinkClick()">Email Sent</button>
        <button class="dropdown-item send-sms-button">Send SMS</button>
        <button class="dropdown-item wixtau-app-button">WixtauApp</button>
      </div>
    </div>
  </div> -->