<div class="container-fluid p-3">
    <div class="sale-returns-banner">
      <div class="col-12 px-0" style="display: flex; justify-content: space-between; align-items: center;flex-wrap: wrap;">
        <button type="button" class="btn pl-0">
          <span *ngIf="SaleReturnOrderEditID" class="custom-heading">Update Sale Returns</span>
          <span *ngIf="!SaleReturnOrderEditID" class="custom-heading">Create Sale Returns</span>
        </button>
        <div style="display: flex; gap: 10px; align-items: center;justify-content: end;flex-wrap: wrap;">
          <!-- New Copy Button -->
          <button (click)="openCopyModal()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#copyModal">
            Copy
        </button>
          <button (click)="showInvoiceOrdersList()" type="button" class="btn btn-primary" data-bs-toggle="modal">
            Sale Invoice List
          </button>
          <button (click)="showSalesReturnOrderListFn()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Sale Return List
          </button>
      </div>
      </div>
    </div>
  
    <div class="row custom-form">
      <div class="col-12 px-1" *ngIf="returnNumber">
        <ta-form #salereturnForm [options]="formConfig"></ta-form>
      </div>
    </div>
  </div>
  
  <div class="modal fade custom-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Sale Returns List</h5>
          <button type="button" id="modalClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" *ngIf="showSaleReturnOrderList">
          <app-sale-returns-list (edit)="editSaleReturnOrder($event)" class="custom-list"></app-sale-returns-list>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <div #saleinvoiceordersModal class="modal fade custom-modal modal-center" id="saleinvoiceordersListModal" tabindex="-1" aria-labelledby="saleinvoiceordersListModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="saleinvoiceordersListModalLabel">Sale Invoice List</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="hideModal()"></button>
        </div>
        <div class="modal-body">
          <app-saleinvoiceorderlist 
          [customerOrders]="customerOrders" 
          (orderSelected)="handleInvoiceOrderSelected($event)"
          (productsPulled)="handleProductsPulled($event)"
          [noOrdersMessage]="noOrdersMessage"
          (modalClosed)="closeModal()"
          class="custom-list">
      </app-saleinvoiceorderlist>
  
        </div> 
      </div>
    </div>
  </div>

   <!-- (orderSelected)="handleOrderSelected($event)"  -->

  
<!-- Copy Modal -->
<div class="modal fade custom-modal modal-center" id="copyModal" tabindex="-1" aria-labelledby="copyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm custom-size"> <!-- Add custom-size class here -->
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="copyModalLabel">Copy to Another Table</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <!-- Modal Form to Select Table -->
              <form>
                  <div class="form-group">
                      <label for="tableSelect">Copy Form To</label>
                      <select id="tableSelect" class="form-control form-select" [(ngModel)]="selectedTable" name="selectedTable">
                          <option *ngFor="let table of availableTables" [value]="table">{{table}}</option>
                      </select>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" (click)="copyToTable()">OK</button>
          </div>
      </div>
  </div>
</div>

<div id="customToast" class="toast-message" *ngIf="showSuccessToast">
  <div class="tick-circle">
      <span class="tick-mark">✓</span>
  </div>
  <span class="toast-message-text">{{ toastMessage }}</span>
  <span class="toast-close" onclick="this.parentElement.style.display='none'">x</span>
</div>