<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-12 px-1">
            <ta-curd-modal [options]="curdConfig" class="custom-list"></ta-curd-modal>
        </div>
    </div>
</div>

<!-- Success Toast Message -->
<div id="customToast" class="toast-message" *ngIf="showSuccessToast">
    <div class="tick-circle">
        <span class="tick-mark">✓</span>
    </div>
    <span class="toast-message-text">{{ toastMessage }}</span>
    <span class="toast-close" (click)="showSuccessToast = false">x</span>
</div>

<!-- Config Modal -->

<div class="modal fade custom-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Role Config</h5>
                <button (click)="ngOnInit()" type="button" id="modalClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Modal body start -->
                <div class="container-fluid mt-2 p-0">
                    <h2>{{ selectedRow?.role_name}}</h2>
                    <div style="height: calc(100vh - 220px); overflow-y: auto; overflow-x: hidden;" class="row m-0">
                        <div *ngFor="let module of moduleList"  class="col-lg-3 col-md-4 col-sm-6 col-12 p-1">
                            <div class="border p-3 h-100">
                                <div>
                                    <input type="checkbox" [(ngModel)]="module.selected" (change)="toggleModule(module, module.selected)"><span style="font-weight: bold;" class="ms-1">{{module.module_name}}</span>
                                </div>
                                <div style="margin-left: 20px;" *ngFor="let section of module.module_sections">
                                    <div>
                                        <input type="checkbox" [(ngModel)]="section.selected" (change)="toggleSection(module, section, section.selected)"> {{section.section_name}}
                                    </div>
                                    <!-- CRUD operations checkboxes are hidden but still processed in the background -->
                                    <div style="margin-left: 20px; display: none;" *ngFor="let action of section.actions">
                                        <input type="checkbox" [(ngModel)]="action.selected" (change)="toggleAction(module, section, action, action.selected)"> {{action.action_name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <!-- Modal body end -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="ngOnInit()" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="saveActions()">Save changes</button>
            </div>
        </div>
    </div>
</div>