<div class="container-fluid p-3">
  <div class="material-received-banner page-component-header">
    <div class="col-12 px-0" style="display: flex; justify-content: space-between; align-items: center;flex-wrap: wrap;">
      <button type="button" class="btn pl-0">
        <span *ngIf="MaterialReceivedEditID" class="custom-heading">Update Material Received</span>
        <span *ngIf="!MaterialReceivedEditID" class="custom-heading">Create Material Received</span>
      </button>
      <button (click)="showMaterialReceivedListFn()" type="button" class="btn btn-primary header-right-btn" data-bs-toggle="modal" data-bs-target="#materialReceivedListModal">
        Material Received List
      </button>
    </div>
  </div>
  <div class="row custom-form">
    <div class="col-12 px-1" *ngIf="receiptNumber || showForm">
      <ta-form #materialReceivedForm [options]="formConfig"></ta-form>
    </div>
  </div>
</div>

<!-- Modal for Material Received List -->
<div class="modal fade custom-modal" id="materialReceivedListModal" tabindex="-1" aria-labelledby="materialReceivedListModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="materialReceivedListModalLabel">Material Received List</h5>
        <button type="button" id="modalClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="showMaterialReceivedList">
        <app-material-received-list (edit)="editMaterialReceived($event)" class="custom-list"></app-material-received-list>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Draft Restore Modal -->
<nz-modal
    [(nzVisible)]="showDraftRestoreModal"
    nzTitle="Restore Unsaved Draft?"
    [nzClosable]="false"
    [nzMaskClosable]="false"
    (nzOnCancel)="declineRestoreDraft()"
    [nzFooter]="draftModalFooter"
    nzCentered
    nzClassName="draft-restore-modal-wrapper">
    
    <ng-container *nzModalContent>
        <div class="draft-restore-content">
            <p style="text-align: center; margin: 16px 0; font-size: 14px; color: #595959;">
                You have an unsaved Material Received from your previous session. Do you want to restore it?
            </p>
            <div class="draft-info-note">
                <i nz-icon nzType="info-circle" nzTheme="outline" style="color: #faad14;"></i>
                <span>Choosing 'Discard' will permanently delete the saved draft.</span>
            </div>
        </div>
    </ng-container>
    
    <ng-template #draftModalFooter>
        <div style="display: flex; justify-content: center; gap: 12px;">
            <button nz-button nzType="default" nzDanger (click)="declineRestoreDraft()">
                <i nz-icon nzType="delete" nzTheme="outline"></i>
                Discard
            </button>
            <button nz-button nzType="primary" (click)="confirmRestoreDraft()">
                <i nz-icon nzType="redo" nzTheme="outline"></i>
                Restore
            </button>
        </div>
    </ng-template>
</nz-modal>