<div class="container-fluid ps-3">
  <div class="workflow-banner">
    <h4 class="custom-heading" *ngIf="showWorkflowList">Workflow List</h4>
    <!-- <button class="btn btn-primary" (click)="backToList()" *ngIf="showForm">
        Back to List
      </button> -->
  </div>

  <!-- Show list -->
  <app-workflow-list 
    *ngIf="showWorkflowList"
    (edit)="editWorkflow($event)">
  </app-workflow-list>

<!-- Show form only when editing -->
<div class="row custom-form" *ngIf="showForm">
  <div class="p-0">

    <!-- Header with Back button aligned right -->
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h4 class="custom-heading">Edit Workflow</h4>
      <button class="btn btn-primary" (click)="backToList()">
        Back to List
      </button>
    </div>

    <!-- Actual form -->
    <ta-form [options]="formConfig"></ta-form>

  </div>
</div>

</div>

