<div class="container-fluid pt-3">
    <div class="sales-banner">
        <div class="col-12 px-1" style="display: flex; justify-content: space-between;">
            <button type="button" class="btn pl-0" style="color: black;">
                <b *ngIf="LeadsEditID">Update Leads</b>
                <b *ngIf="!LeadsEditID">Create Leads</b>
            </button>
            <button (click)="showLeadsListFn()" type="button" class="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Leads List
            </button>
        </div>
    </div>
    <div class="row">
        <div>
            <ta-form [options]="formConfig"></ta-form>
        </div>
    </div>
</div>

<!-- Sales List Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Leads List</h5>
                <button type="button" id="modalClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" *ngIf="showLeadsList">
                <app-leads-list (edit)="editLeads($event)" ></app-leads-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>