<div class="container-fluid pt-3">
    <div class="purchasereturnorders-banner">
        <div class="col-12 px-0" style="display: flex; justify-content: space-between;align-items: center;">
            <button type="button" class="btn pl-0" >
                <span *ngIf="PurchaseReturnOrderEditID" class="custom-heading">Update Purchase Returns</span>
                <span *ngIf="!PurchaseReturnOrderEditID" class="custom-heading">Create Purchase Returns</span>
            </button>
            <button (click)="showPurchaseReturnOrderListFn()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Purchase Returns List
            </button>
        </div>
    </div>

    <div class="row  custom-form">
        <div class="col-12 px-1" *ngIf="orderNumber">   <!--removed show form -->
            <ta-form #purchasereturnForm [options]="formConfig"></ta-form>
        </div>
    </div>
</div>

<!-- Purchase Return List Modal -->
<div class="modal fade custom-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Purchase Returns List</h5>
                <button type="button" id="modalClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" *ngIf="showPurchaseReturnOrderList">
                <app-purchasereturnorders-list (edit)="editPurchaseReturnOrder($event)"  class="custom-list"></app-purchasereturnorders-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>
