<div class="container-fluid pt-3 account-ledger-wrapper">
  <div class="row">
    <div class="col-12 px-2 py-1 ledger-content">
      <ta-curd-modal
        [options]="curdConfig"
        class="custom-list">
      </ta-curd-modal>

      <!-- Print Action -->
      <div class="ledger-footer">
      <div class="ledger-footer-left">
        <select class="form-select print-select" (change)="onPrintSelect($event)">
          <option value="" disabled selected hidden>Print Document</option>
          <option value="preview">Preview</option>
          <option value="print">Print</option>
        </select>
      </div>
    </div>
    <!-- <div class="ledger-footer-left" *ngIf="hasRecords">
      <button class="btn btn-outline-primary me-2"
              title="Preview"
              (click)="onPreviewClick()">
        <i class="bi bi-eye"></i>
      </button>

      <button class="btn btn-outline-secondary"
              title="Print"
              (click)="onPrintClick()">
        <i class="bi bi-printer"></i>
      </button>
    </div> -->


    </div>
  </div>
</div>

