<div class="container-fluid mt-4 custom-tabs">
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#general">General</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#customers">Customers</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#vendors">Vendors</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#products">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#orders">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#hrms">HRMS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#leads">Leads</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#assets">Assets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tasks">Tasks</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane  active" id="general">
            <!-- Content for General tab -->
            <div class="row">
                <div class="col-md-3">
                    <div class="custom-menu-card">
                        <h6 class="custom-sub-heading">Masters Data</h6>
                        <ul class="master-menu-list">
                            <li><a [routerLink]="['/admin/master/territory']">Territory</a></li>
                            <li><a [routerLink]="['/admin/master/transporters']">Transporters</a></li>
                            <li><a [routerLink]="['/admin/master/firm-statuses']">Firm status</a></li>
                            <li><a [routerLink]="['/admin/master/gst-categories']">GST categories</a></li>
                            <li><a [routerLink]="['/admin/master/price-categories']">Price categories</a></li>
                            <li><a [routerLink]="['/admin/master/shipping-modes']">Shipping modes</a></li>
                            <li><a [routerLink]="['/admin/master/shipping-companies']">Shipping companies</a></li>
                            <li><a [routerLink]="['/admin/master/notification-frequencies']">Notification Frequencies</a></li>
                            <li><a [routerLink]="['/admin/master/notification-methods']">Notification Methods</a></li>
                            <li><a [routerLink]="['/admin/master/reminder-types']">Reminder Types</a></li> 
                            <li><a [routerLink]="['/admin/master/reminder-settings']">Reminder Settings</a></li>
                            <li><a [routerLink]="['/admin/master/user-groups']">User Groups</a></li> 
                            <li><a [routerLink]="['/admin/master/user-group-members']">User Group Members</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <ng-container [ngSwitch]="code">
                        <ng-container *ngSwitchCase="'territory'">
                            <app-territory></app-territory>
                        </ng-container>
                        <ng-container *ngSwitchCase="'transporters'">
                            <app-transporters></app-transporters>
                        </ng-container>
                        <ng-container *ngSwitchCase="'firm-statuses'">
                            <app-firm-statuses></app-firm-statuses>
                        </ng-container>
                        <ng-container *ngSwitchCase="'gst-categories'">
                            <app-gst-categories></app-gst-categories>
                        </ng-container>
                        <ng-container *ngSwitchCase="'price-categories'">
                            <app-price-categories></app-price-categories>
                        </ng-container>
                        <ng-container *ngSwitchCase="'shipping-modes'">
                            <app-shipping-modes></app-shipping-modes>
                        </ng-container>
                        <ng-container *ngSwitchCase="'shipping-companies'">
                            <app-shipping-companies></app-shipping-companies>
                        </ng-container>
                        <ng-container *ngSwitchCase="'notification-frequencies'">
                            <app-notification-frequencies></app-notification-frequencies>
                        </ng-container>  
                        <ng-container *ngSwitchCase="'notification-methods'">
                            <app-notification-methods></app-notification-methods>
                        </ng-container>                         
                        <ng-container *ngSwitchCase="'reminder-types'">
                            <app-reminder-types></app-reminder-types>
                        </ng-container> 
                        <ng-container *ngSwitchCase="'reminder-settings'">
                            <app-reminder-settings></app-reminder-settings>
                        </ng-container> 
                        <ng-container *ngSwitchCase="'user-groups'">
                            <app-usergroups></app-usergroups>
                        </ng-container> 
                        <ng-container *ngSwitchCase="'user-group-members'">
                            <app-user-group-members></app-user-group-members>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="tab-pane  fade" id="customers">
            <!-- Content for General tab -->
            <div class="row">
                <div class="col-md-3">
                    <div class="custom-menu-card">
                        <h6 class="custom-sub-heading">Customers Data</h6>
                        <ul class="master-menu-list">
                            <li><a [routerLink]="['/admin/master/ledger-accounts']">Ledger accounts</a></li>
                            <li><a [routerLink]="['/admin/master/ledger-groups']">Ledger groups</a></li>
                            <li><a [routerLink]="['/admin/master/customer-payment-terms']">Customer payment terms</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <ng-container [ngSwitch]="code">
                        <ng-container *ngSwitchCase="'ledger-accounts'">
                            <app-ledger-accounts></app-ledger-accounts>
                        </ng-container>
                        <ng-container *ngSwitchCase="'ledger-groups'">
                            <app-ledger-groups></app-ledger-groups>
                        </ng-container>
                        <ng-container *ngSwitchCase="'customer-payment-terms'">
                            <app-customer-payment-terms></app-customer-payment-terms>
                        </ng-container>
                        <!-- <div *ngSwitchDefault> -->
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="tab-pane  fade" id="vendors">
            <!-- Content for Products tab -->
            <div class="row">
                <div class="col-md-3">
                    <div class="custom-menu-card">
                        <h6 class="custom-sub-heading">Vendors Data</h6>
                        <ul class="master-menu-list">
                            <li><a [routerLink]="['/admin/master/vendor-agent']">Vendor agent</a></li>
                            <li><a [routerLink]="['/admin/master/vendor-category']">Vendor categories</a></li>
                            <li><a [routerLink]="['/admin/master/vendor-payment-terms']">Vendor payments terms</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <ng-container [ngSwitch]="code">
                        <ng-container *ngSwitchCase="'vendor-agent'">
                            <app-vendor-agent></app-vendor-agent>
                        </ng-container>
                        <ng-container *ngSwitchCase="'vendor-category'">
                            <app-vendor-category></app-vendor-category>
                        </ng-container>
                        <ng-container *ngSwitchCase="'vendor-payment-terms'">
                            <app-vendor-payment-terms></app-vendor-payment-terms>
                        </ng-container>
                    </ng-container>

                </div>
            </div>

        </div>
        <div class="tab-pane  fade" id="products">
            <!-- Content for Products tab -->
            <div class="row">
                <div class="col-md-3">
                    <div class="custom-menu-card">
                        <h6 class="custom-sub-heading">Products Data</h6>
                        <ul class="master-menu-list">
                            <li><a [routerLink]="['/admin/master/product-sales-gl']">Product sales gl</a></li>
                            <li><a [routerLink]="['/admin/master/product-types']">Product types</a></li>
                            <li><a [routerLink]="['/admin/master/product-brands']">Product brands</a></li>
                            <li><a [routerLink]="['/admin/master/product-categories']">Prdouct categories</a></li>
                            <li><a [routerLink]="['/admin/master/product-groups']">Product groups</a></li>
                            <li><a [routerLink]="['/admin/master/product-gst-classifications']">Product gst calssifications</a></li>
                            <li><a [routerLink]="['/admin/master/product-item-type']">Product item types</a></li>
                            <li><a [routerLink]="['/admin/master/product-purchase-gl']">Product purchase gl</a></li>
                            <li><a [routerLink]="['/admin/master/product-stock-units']">Product stock units</a></li>
                            <li><a [routerLink]="['/admin/master/product-item-balance']">Product item balence</a></li>
                            <li><a [routerLink]="['/admin/master/product-unique-quantity-codes']">Products unique quantity codes</a></li>
                            <li><a [routerLink]="['/admin/master/unit-options']">Unit options</a></li>
                            <li><a [routerLink]="['/admin/master/product-sizes']">Sizes</a></li>
                            <li><a [routerLink]="['/admin/master/product-colors']">Colors</a></li>
                            <li><a [routerLink]="['/admin/master/warehouse-locations']">Warehouse Locations</a></li>
                            <li><a [routerLink]="['/admin/master/package-units']">Pack Units</a></li>
                            <li><a [routerLink]="['/admin/master/g-package-units']">GPack Units</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <ng-container [ngSwitch]="code">
                        <ng-container *ngSwitchCase="'product-stock-units'">
                            <app-product-stock-units></app-product-stock-units>
                        </ng-container>
                        <ng-container *ngSwitchCase="'product-unique-quantity-codes'">
                            <app-product-unique-quantity-codes></app-product-unique-quantity-codes>
                        </ng-container>
                        <ng-container *ngSwitchCase="'product-types'">
                            <app-product-types></app-product-types>
                        </ng-container>
                        <ng-container *ngSwitchCase="'product-brands'">
                            <app-product-brands></app-product-brands>
                        </ng-container>
                        <ng-container *ngSwitchCase="'product-categories'">
                            <app-product-categories></app-product-categories>
                        </ng-container>
                        <ng-container *ngSwitchCase="'product-groups'">
                            <app-product-groups></app-product-groups>
                        </ng-container>
                        <ng-container *ngSwitchCase="'product-gst-classifications'">
                            <app-product-gst-classifications></app-product-gst-classifications>
                        </ng-container>
                        <ng-container *ngSwitchCase="'product-item-type'">
                            <app-product-item-type></app-product-item-type>
                        </ng-container>
                        <ng-container *ngSwitchCase="'product-sales-gl'">
                            <app-product-sales-gl></app-product-sales-gl>
                        </ng-container>
                        <ng-container *ngSwitchCase="'product-item-balance'">
                            <app-product-item-balance></app-product-item-balance>
                        </ng-container>
                        <ng-container *ngSwitchCase="'product-purchase-gl'">
                            <app-product-purchase-gl></app-product-purchase-gl>
                        </ng-container>
                        <ng-container *ngSwitchCase="'unit-options'">
                            <app-unit-options></app-unit-options>
                        </ng-container>
                        <ng-container *ngSwitchCase="'product-sizes'">
                            <app-size></app-size>
                        </ng-container>
                        <ng-container *ngSwitchCase="'product-colors'">
                            <app-color></app-color>
                        </ng-container>
                        <ng-container *ngSwitchCase="'warehouse-locations'">
                            <app-warehouse-locations></app-warehouse-locations>
                        </ng-container>
                        <ng-container *ngSwitchCase="'package-units'">
                            <app-package-units></app-package-units>
                        </ng-container>
                        <ng-container *ngSwitchCase="'g-package-units'">
                            <app-g-package-units></app-g-package-units>
                        </ng-container>
                    </ng-container>

                </div>
            </div>
        </div>
        <div class="tab-pane  fade" id="hrms">
            <!-- Content for Products tab -->
            <div class="row">
                <div class="col-md-3">
                    <div class="custom-menu-card">
                        <h6 class="custom-sub-heading">HRMS Data</h6>
                        <ul class="master-menu-list">
                            <li><a [routerLink]="['/admin/master/job-types']">Job Types</a></li>
                            <li><a [routerLink]="['/admin/master/designations']">Designations</a></li>
                            <li><a [routerLink]="['/admin/master/job-codes']">Job Codes</a></li>
                            <li><a [routerLink]="['/admin/master/departments']">Departments</a></li>
                            <li><a [routerLink]="['/admin/master/shifts']">Shifts</a></li>
                            <li><a [routerLink]="['/admin/master/salary-components']">Salary Components</a></li>
                            <li><a [routerLink]="['/admin/master/employee-salary-components/']">Employee Salary Components</a></li>
                            <li><a [routerLink]="['/admin/master/leave-types']">Leave Types</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <ng-container [ngSwitch]="code">
                        <ng-container *ngSwitchCase="'job-types'">
                            <app-job-types></app-job-types>
                        </ng-container>
                        <ng-container *ngSwitchCase="'designations'">
                            <app-designations></app-designations>
                        </ng-container>
                        <ng-container *ngSwitchCase="'job-codes'">
                            <app-job-codes></app-job-codes>
                        </ng-container>
                        <ng-container *ngSwitchCase="'departments'">
                            <app-departments></app-departments>
                        </ng-container>
                        <ng-container *ngSwitchCase="'shifts'">
                            <app-shifts></app-shifts>
                        </ng-container>
                        <ng-container *ngSwitchCase="'salary-components'">
                            <app-salary-components></app-salary-components>
                        </ng-container>
                        <ng-container *ngSwitchCase="'employee-salary-components'">
                            <app-employee-salary-components></app-employee-salary-components>
                        </ng-container>
                        <ng-container *ngSwitchCase="'leave-types'">
                            <app-leave-types></app-leave-types>
                        </ng-container>
                    </ng-container>

                </div>
            </div>
        </div>
        <div class="tab-pane  fade" id="tasks">
            <!-- Content for Products tab -->
            <div class="row">
                <div class="col-md-3">
                    <div class="custom-menu-card">
                        <h6 class="custom-sub-heading">Tasks Data</h6>
                        <ul class="master-menu-list">
                            <li><a [routerLink]="['/admin/master/priorities']">Task Priorities</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <ng-container [ngSwitch]="code">
                        <ng-container *ngSwitchCase="'priorities'">
                            <app-task-priorities></app-task-priorities>
                        </ng-container>
                    </ng-container>

                </div>
            </div>
        </div>
        <div class="tab-pane  fade" id="assets">
            <!-- Content for Products tab -->
            <div class="row">
                <div class="col-md-3">
                    <div class="custom-menu-card">
                        <h6 class="custom-sub-heading">Assets Data</h6>
                        <ul class="master-menu-list">
                            <li><a [routerLink]="['/admin/master/asset-categories']">Asset categories</a></li>
                            <li><a [routerLink]="['/admin/master/asset-statuses']">Asset statuses</a></li>
                            <li><a [routerLink]="['/admin/master/locations']">Locations</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <ng-container [ngSwitch]="code">
                        <ng-container *ngSwitchCase="'asset-categories'">
                            <app-asset-categories></app-asset-categories>
                        </ng-container>
                        <ng-container *ngSwitchCase="'asset-statuses'">
                            <app-asset-statuses></app-asset-statuses>
                        </ng-container>
                        <ng-container *ngSwitchCase="'locations'">
                            <app-locations></app-locations>
                        </ng-container>
                    </ng-container>

                </div>
            </div>
        </div>
        <div class="tab-pane  fade" id="leads">
            <!-- Content for Products tab -->
            <div class="row">
                <div class="col-md-3">
                    <div class="custom-menu-card">
                        <h6 class="custom-sub-heading">Leads Data</h6>
                        <ul class="master-menu-list">
                            <li><a [routerLink]="['/admin/master/lead-statuses']">Lead statuses</a></li>
                            <li><a [routerLink]="['/admin/master/interaction-types']">Interaction types</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <ng-container [ngSwitch]="code">
                        <ng-container *ngSwitchCase="'lead-statuses'">
                            <app-lead-statuses></app-lead-statuses>
                        </ng-container>
                        <ng-container *ngSwitchCase="'interaction-types'">
                            <app-interaction-types></app-interaction-types>
                        </ng-container>
                    </ng-container>

                </div>
            </div>
        </div>
        <div class="tab-pane  fade" id="orders">
            <!-- Content for Products tab -->
            <div class="row">
                <div class="col-md-3">
                    <div class="custom-menu-card">
                        <h6 class="custom-sub-heading">Orders Data</h6>
                        <ul class="master-menu-list">
                            <li><a [routerLink]="['/admin/master/statuses']">Statuses</a></li>
                            <li><a [routerLink]="['/admin/master/order-statuses']">Order statuses</a></li>
                            <li><a [routerLink]="['/admin/master/order-types']">Order types</a></li>
                            <li><a [routerLink]="['/admin/master/purchase-types']">Purchase types</a></li>
                            <li><a [routerLink]="['/admin/master/sale-types']">Sale types</a></li>
                            <li><a [routerLink]="['/admin/master/gst-types']">Gst types</a></li>
                            <li><a [routerLink]="['/admin/master/payment-link-type']">Payment link type</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <ng-container [ngSwitch]="code">
                        <ng-container *ngSwitchCase="'gst-types'">
                            <app-gst-types></app-gst-types>
                        </ng-container>
                        <ng-container *ngSwitchCase="'order-statuses'">
                            <app-order-statuses></app-order-statuses>
                        </ng-container>
                        <ng-container *ngSwitchCase="'order-types'">
                            <app-order-types></app-order-types>
                        </ng-container>
                        <ng-container *ngSwitchCase="'purchase-types'">
                            <app-purchase-types></app-purchase-types>
                        </ng-container>
                        <ng-container *ngSwitchCase="'sale-types'">
                            <app-sale-types></app-sale-types>
                        </ng-container>
                        <ng-container *ngSwitchCase="'statuses'">
                            <app-statuses></app-statuses>
                        </ng-container>
                        <ng-container *ngSwitchCase="'payment-link-type'">
                            <app-payment-link-type></app-payment-link-type>
                        </ng-container>
                    </ng-container>

                </div>
            </div>
        </div>
    </div>
</div>