<nz-card [nzBordered]="true" [nzTitle]="to.title" [nzExtra]="extraTemplate">
    <div class="ant-table-container">
        <table class="table table-bordered product-item-table">
            <thead *ngIf="to.tableCols">
                <tr>
                    <th *ngFor="let col of field.fieldArray.fieldGroup;">
                        {{ col.templateOptions.label }}
                    </th>
                    <th *ngIf="!isRestrictedPage">
                        Actions
                    </th>
                </tr>

            </thead>
            <tbody class="ant-table-tbody">
                <tr class="ant-table-row" *ngFor="let f of field.fieldGroup; let i = index;">
                    <td *ngFor="let fg of f.fieldGroup">
                        <formly-field class="col" [field]="fg"></formly-field>
                    </td>
                    <td *ngIf="!isRestrictedPage" style="vertical-align: middle;text-align: center;">
                        <div class="">
                            <button nz-button nzDanger type="button" (click)="remove(i)"><i class="fa fa-trash"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</nz-card>

<ng-template #extraTemplate>
    <button *ngIf="!isRestrictedPage" nz-button nzType="primary" type="button" (click)="add()">{{ to.addText }}</button>
</ng-template>




<!-- <div *ngFor="let field of field.fieldGroup; let i = index;" class="row">
    <formly-field class="col" [field]="field"></formly-field>
  
</div> -->