<nz-card [nzBordered]="true" [nzTitle]="to.title" [nzExtra]="extraTemplate">
    <div class="ant-table-container">
        <table class="table table-bordered product-item-table" (keydown)="onTableKeyDown($event)">
            <thead *ngIf="to.tableCols">
                <tr>
                    <th *ngFor="let col of field.fieldArray.fieldGroup; let idx = index"
                        [class.sticky-col-0]="hasStickyColumns && idx === 0"
                        [class.sticky-col-1]="hasStickyColumns && idx === 1"
                        [class.sticky-col-2]="hasStickyColumns && idx === 2">
                        {{ col.templateOptions.label }}
                    </th>
                    <th *ngIf="!isRestrictedPage || to.showAddBtn" class="sticky-column">
                        Actions
                    </th>
                </tr>

            </thead>
            <tbody class="ant-table-tbody">
                <tr class="ant-table-row" *ngFor="let f of field.fieldGroup; let i = index;">
                    <td *ngFor="let fg of f.fieldGroup; let colIdx = index"
                        [class.sticky-col-0]="hasStickyColumns && colIdx === 0"
                        [class.sticky-col-1]="hasStickyColumns && colIdx === 1"
                        [class.sticky-col-2]="hasStickyColumns && colIdx === 2">
                        <formly-field class="col" [field]="fg"></formly-field>
                    </td>
                    <td class="sticky-column" *ngIf="!isRestrictedPage || to.showAddBtn" style="vertical-align: middle;text-align: center;">
                        <div class="">
                            <button nz-button nzDanger type="button" (click)="remove(i)"><i class="fa fa-trash"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</nz-card>

<ng-template #extraTemplate>
    <div style="display:flex;gap:10px;align-items:center;">
        <button *ngIf="to.onExtraAction" nz-button nzType="default" nzSize="small" type="button" (click)="to.onExtraAction()"
            style="display:inline-flex;align-items:center;gap:6px;font-weight:500;font-size:12px;border-radius:4px;border-color:#142768;color:#142768;">
            <i *ngIf="to.extraActionIcon" [class]="to.extraActionIcon"></i>
            <span>{{ to.extraActionText || 'Action' }}</span>
        </button>
        <button *ngIf="!isRestrictedPage || to.showAddBtn" nz-button nzType="primary" type="button" (click)="add()">{{ to.addText }}</button>
    </div>
</ng-template>




<!-- <div *ngFor="let field of field.fieldGroup; let i = index;" class="row">
    <formly-field class="col" [field]="field"></formly-field>
  
</div> -->