<div class="container-fluid p-3">
    <div class="workorder-banner">
        <div class="col-12 px-0" style="display: flex; justify-content: space-between; align-items: center;flex-wrap: wrap;">
            <button (click)="WorkOrdrEditID = null" type="button" class="btn pl-0" style="color: black;">
                <span *ngIf="WorkOrdrEditID" class="custom-heading">Update Work Order</span>
                <span *ngIf="!WorkOrdrEditID" class="custom-heading">Create Work Order</span>
            </button>
            <div style="display: flex; gap: 10px;">
                <button (click)="showWorkorderListFn()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#productionModal">Work Order List
                </button>
                <!-- <button (click)="updateInventory()" *ngIf="WorkOrdrEditID" type="button" class="btn btn-primary">Update Inventory</button> -->
                <!-- <button (click)="createBom()" *ngIf="showCreateBomButton" type="button" class="btn btn-danger ms-auto blink-twice" [disabled]="isBomButtonDisabled" data-bs-toggle="modal" data-bs-target="#bomModal">Create BOM
                </button> -->
            </div>
        </div>
    </div>

    <div class="row custom-form">
        <div class="col-12 px-1" *ngIf="showForm">
            <ta-form [options]="formConfig"></ta-form>
        </div>
    </div>
</div>

<div class="modal fade custom-modal" id="productionModal" tabindex="-1" aria-labelledby="productionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="productModalLabel">Edit Work Order List</h5>
             <button type="button" id="modalClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" *ngIf="showWorkorderList">
             <app-work-order-list (edit)="editWorkorder($event)" class="custom-list"></app-work-order-list>
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          </div>
       </div>
    </div>
 </div>

<div class="custom-modal_1" *ngIf="showConfirmModal" (click)="onCancel()">
  <div class="custom-modal-content" (click)="$event.stopPropagation()">
    <p>Work order already in progress for this product.</p>
    <div class="modal-actions">
      <button class="btn-sky" (click)="onConfirm()">Ok</button>
    </div>
  </div>
</div>
<div class="modal-backdrop" *ngIf="showConfirmModal"></div>

<!-- 📌 Custom Modal: Sync Quantity Warning -->
<div
  class="custom-modal_1"
  *ngIf="showSyncModal"
  (click)="closeSyncModal()"
>
  <div
    class="custom-modal-content"
    (click)="$event.stopPropagation()"
  >
    <p>
      Your quantities are ready to sync with inventory!.<br />
      Please check <b>Sync QTY</b> and update again.
    </p>
    <div class="modal-actions">
      <button class="btn-sky" (click)="closeSyncModal()">Ok</button>
    </div>
  </div>
</div>
<div class="modal-backdrop" *ngIf="showSyncModal"></div>

<div id="customToast" class="toast-message" *ngIf="showSuccessToast">
    <div class="tick-circle">
        <span class="tick-mark">✓</span>
    </div>
    <span class="toast-message-text">{{ toastMessage }}</span>
    <span class="toast-close" onclick="this.parentElement.style.display='none'">x</span>
</div>