.sidebar-message {
  background-color: #4caf59; /* Green background */
  color: white; /* White text */
  padding: 10px; /* Some padding */
  position: fixed; /* Fixed position */
  top: 60px; /* Distance from the top */
  right: 20px; /* Distance from the right */
  z-index: 1000; /* Ensure it appears above other content */
  border-radius: 5px; /* Rounded corners */
  transition: opacity 0.5s; /* Fade out effect */
  display: flex; /* Make it a flex container */
  align-items: center; /* Vertically align items in the center */
}

.checkmark-circle {
  display: inline-block;
  width: 20px; /* Size of the circle */
  height: 20px; /* Size of the circle */
  border-radius: 50%; /* Makes the span a perfect circle */
  background-color: white; /* Background color of the circle */
  color: #4CAF50; /* Color of the checkmark */
  font-weight: bold; /* Makes the checkmark thicker */
  display: flex; /* Flexbox for center alignment */
  justify-content: center; /* Center the checkmark horizontally */
  align-items: center; /* Center the checkmark vertically */
  margin-right: 12px; /* Space between the circle and the message text */
  font-size: 20px; /* Size of the checkmark */
}



.custom-dialog-overlay {

  position: fixed;

  top: 0;

  left: 0;

  width: 100vw;

  height: 100vh;

  background: rgba(0, 0, 0, 0.5); /* Dark overlay */

  display: flex;

  justify-content: center;

  align-items: center;

  z-index: 999; /* Ensure it's above other elements */

}

.custom-dialog-box {

  background-color: #fff;

  padding: 20px;

  border-radius: 10px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  text-align: center;

  width: 300px;

}

.custom-dialog-box p {

  margin-bottom: 20px;

}

.custom-dialog-box button {

  padding: 10px 20px;

  background-color: #007bff;

  color: white;

  border: none;

  border-radius: 5px;

  cursor: pointer;

}

.custom-dialog-box button:hover {

  background-color: #0056b3;

}

