<div class="container-fluid p-3">
    <div class="warehouses-banner">
        <div class="col-12 px-0" style="display: flex; justify-content: space-between; align-items: center;flex-wrap: wrap;">
            <button (click)="WarehousesEditID = null" type="button" class="btn pl-0" style="color: black;">
                <span *ngIf="WarehousesEditID" class="custom-heading">Update Warehouses</span>
                <span *ngIf="!WarehousesEditID" class="custom-heading">Create Warehouses</span>
            </button>
            <button (click)="showWarehousesListFn()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#warehousesListModal">
                Warehouses List
            </button>
        </div>
    </div>
    <div class="row  custom-form">
        <div class="col-12 px-1" *ngIf="showForm">   <!--removed show form -->
            <ta-form [options]="formConfig"></ta-form>
        </div>
    </div>
</div>


<div class="modal fade custom-modal" id="warehousesListModal" tabindex="-1" aria-labelledby="warehousesListModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="warehousesListModalLabel">Edit Warehouses List</h5>
                <button type="button" id="modalClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" *ngIf="showWarehousesList">
                <app-warehouses-list (edit)="editWarehouses($event)" class="custom-list"></app-warehouses-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>