<!-- Begin Page Content -->
<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-12 px-1">
            <!-- <ta-table [options]="tableConfig">
                <div class="after-search">
                    <button nz-button nzType="primary" class="ml-md" [routerLink]="['/admin/employee/create']">
                      <i nz-icon nzType="plus"></i>Add
                    </button>
                </div>
            </ta-table> -->
        </div>
    </div>
  
    <!-- Page Heading -->

</div>