<div class="container-fluid pt-3">
  <div class="row">
    <div class="col-12 px-2 py-1">
      <ta-curd-modal 
        [options]="curdConfig" 
        [customProductTemplate]="customProductTemplate"
        class="custom-list sale-receipt-table">
      </ta-curd-modal>
    </div>
  </div>
</div>

<!-- Define Custom Product Template for displaying product details without checkboxes -->
<ng-template #customProductTemplate let-row>
    <ng-container *ngIf="row.products && row.products.length > 0; else noProducts">
      <div *ngFor="let product of row.products" style="display: flex; align-items: center;">
        {{ product.product_name }} (Qty: {{ product.quantity - product.production_qty }})
      </div>
    </ng-container>
    <ng-template #noProducts>No products available</ng-template>
</ng-template>

  
  <!-- Confirmation Modal -->
  <div *ngIf="showModal" class="custom-dialog-overlay">
    <div class="custom-dialog-box">
      <h5>Confirm Receipt</h5>
      <p>Are you sure you want to confirm the receipt for order {{ selectedReceipt?.receipt_no }}?</p>
      <div class="dialog-actions">
        <button class="btn btn-danger" (click)="closeModal()">Cancel</button>
        <button class="btn btn-primary" (click)="confirmReceipt()">Confirm</button>
      </div>
    </div>
  </div>

  <div id="customDialog" class="custom-dialog-overlay" style="display: none;">
    <div class="custom-dialog-box">
    <p> ⚠️ This Record Receipt confirmed Previously, choose another Record</p>
    <button id="dialogOkButton" (click)="closeDialog()">OK</button>
    </div>
  </div>