<ta-curd-modal 
    [options]="curdConfig" 
    [customProductTemplate]="customProductTemplate"
    class="custom-list">
</ta-curd-modal>

<!-- Define Custom Product Template for displaying product details without checkboxes -->
<ng-template #customProductTemplate let-row>
    <ng-container *ngIf="row.products && row.products.length > 0; else noProducts">
      <div *ngFor="let product of row.products" style="display: flex; align-items: center;">
        {{ product.product_name }} (Qty: {{ product.quantity }})
      </div>
    </ng-container>
    <ng-template #noProducts>No products available</ng-template>
</ng-template>

  
  <!-- Confirmation Modal -->
  <div *ngIf="showModal" class="custom-dialog-overlay">
    <div class="custom-dialog-box">
      <h5>Confirm Receipt</h5>
      <p>Are you sure you want to confirm the receipt for order {{ selectedReceipt?.receipt_no }}?</p>
      <div class="dialog-actions">
        <button class="btn btn-secondary" (click)="closeModal()">Cancel</button>
        <button class="btn btn-primary" (click)="confirmReceipt()">Confirm</button>
      </div>
    </div>
  </div>
  