<div class="login-page">
    <div class="container">
        <!-- Outer Row -->
        <div class="row bg-white justify-content-center p-5">
            <h3>Create Account</h3>
            <ta-form [options]="options">

                <!-- <button class="ant-btn ms-2 ant-btn-primary" [routerLink]="['/']" routerLinkActive="router-link-active" action-postfix>Login</button> -->
            </ta-form>
            <div class="text-center mt-2">
                <a class="signup-link m-2" [routerLink]="['/']" routerLinkActive="router-link-active">Login</a>
            </div>
        </div>

    </div>
</div>