<div class="container-fluid p-3">
    <div class="leads-banner">
        <div class="col-12 px-0" style="display: flex; justify-content: space-between; align-items: center;flex-wrap: wrap;">
            <button (click)="JournalEntryEditID = null" type="button" class="btn pl-0" style="color: black;">
                <span *ngIf="JournalEntryEditID" class="custom-heading">Update Journal Entry</span>
                <span *ngIf="!JournalEntryEditID" class="custom-heading">Create Journal Entry</span>
            </button>
            <button (click)="showJournalEntryListFn()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#leadsListModal">
                Journal List
            </button>
        </div>
    </div>
    <div class="row custom-form">
        <div class="p-0">
            <ta-form [options]="formConfig"></ta-form>
        </div>
    </div>
</div>

<!-- Journal Entry List Modal -->

<div class="modal fade custom-modal" id="leadsListModal" tabindex="-1" aria-labelledby="leadsListModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="leadsListModalLabel">Edit Journal Entry List</h5>
                <button type="button" id="modalClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" *ngIf="showJournalEntryList">
                <app-journal-entry-list (edit)="editJournalEntry($event)" class="custom-list"></app-journal-entry-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> 
